@tailwind base;
@tailwind components;
@tailwind utilities;

.example__card {
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 150px;
}

.example__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.example__input {
  border-radius: 6px;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #ddd;
  padding: 12px;
  line-height: 16px;
  font-size: 16px;
  transition: border-color 150ms ease, box-shadow 150ms ease;
}
